<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle do Robô</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Controle do Robô</h1>
    <button onclick="location.href='/mover_frente'">Mover para Frente</button>
    <button onclick="location.href='/virar_esquerda'">Virar para Esquerda</button>
    <button onclick="location.href='/virar_direita'">Virar para Direita</button>
</body>
</html>
